<ul class="list-group">
  <a href="#/">
    <li class="list-group-item" >
      <span ><i class="glyphicon glyphicon-dashboard"></i></span>
      &nbsp Góðakstur
    </li>
  </a>
  <a href="#/bookings">
    <li class="list-group-item">
      <span ><i class="glyphicon glyphicon-calendar"></i></span>
      &nbsp Bókunarkerfi
    </li>
  </a>
    <li class="list-group-item" style="color:grey;">
      <span ><i class="glyphicon glyphicon-globe"></i></span>
      &nbsp Rauntími
    </li>
  <li class="list-group-item" style="color:grey;">
    <span ><i class="glyphicon glyphicon-check"></i></span>
    &nbsp Þjónustubók
  </li>
</ul>
